* {
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
    border: none;
    text-transform: capitalize;
    transition: all .2s linear;
}

.pay {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 25px;
    min-height: 100vh;
    
}

    .pay form {
        padding: 20px;
        width: 700px;
        background: #fff;
        box-shadow: 0 5px 10px rgba(0,0,0,.1);
    }

        .pay form .row {
            display: flex;
            flex-wrap: wrap;
            gap: 15px;
        }

            .pay form .row .col {
                flex: 1 1 250px;
            }

                .pay form .row .col .title {
                    font-size: 20px;
                    color: #333;
                    padding-bottom: 5px;
                    text-transform: uppercase;
                }

                .pay form .row .col .inputBox {
                    margin: 15px 0;
                }

                    .pay form .row .col .inputBox span {
                        margin-bottom: 10px;
                        display: block;
                    }

                    .pay form .row .col .inputBox input {
                        width: 100%;
                        border: 1px solid #ccc;
                        padding: 10px 15px;
                        font-size: 15px;
                        text-transform: none;
                    }

                        .pay form .row .col .inputBox input:focus {
                            border: 1px solid #000;
                        }

                .pay form .row .col .flex {
                    display: flex;
                    gap: 15px;
                }

                    .pay form .row .col .flex .inputBox {
                        margin-top: 5px;
                    }

                .pay form .row .col .inputBox img {
                    height: 34px;
                    margin-top: 5px;
                    filter: drop-shadow(0 0 1px #000);
                }

        .pay form .submit-btn {
            width: 100%;
            padding: 12px;
            font-size: 17px;
            background: #27ae60;
            color: #fff;
            margin-top: 5px;
            cursor: pointer;
        }

            .pay form .submit-btn:hover {
                background: black;
            }
