
.slider {
    width: 100%;
    height: 460px;
    border-radius: 10px;
    overflow: hidden;
    justify-content: center;
}
.slides {
    width: 500%;
    height: 460px;
    display: flex;
}
.slides input{
    display:none;
}
.slide{
    width : 20%;
    transition:2s;
}
    .slide img {
        width: 100%;
        height: 460px;
    }
/*manual slide navigation*/

.navigation-manual {
    position: absolute;
    width: 100%;
    margin-top: -40px;
    display: flex;
    justify-content: center;
}

.manual-btn {
    border: 2px solid #001f4d;
    padding: 5px;
    border-radius: 10px;
    cursor: pointer;
    transition:0.5s;
}

.manual-btn:not(:last-child){
    margin-right:40px;
}
    .manual-btn:hover {
        background: #001f4d;
    }
#radio1:checked ~ .first{
    margin-left:0;
}
#radio2:checked ~ .first {
    margin-left: -20%;
}
#radio3:checked ~ .first {
    margin-left: -40%;
}
#radio4:checked ~ .first {
    margin-left: -60%;
}

/*css for automation navigation*/

.navigation-auto {
    position: absolute;
    display: flex;
    width: 100%;
    justify-content: center;
    margin-top: 420px;
}
    .navigation-auto div {
        border: 2px solid #001f4d;
        padding: 5px;
        border-radius: 10px;
        transition: 2s;
    }
    .navigation-auto div:not(:last-child){
        margin-right:40px;
    }
#radio1:checked ~ .navigation-auto .auto-btn1 {
    background: #001f4d;
}
#radio2:checked ~ .navigation-auto .auto-btn2 {
    background: #001f4d;
}
#radio3:checked ~ .navigation-auto .auto-btn3 {
    background: #001f4d;
}
#radio4:checked ~ .navigation-auto .auto-btn4 {
    background: #001f4d;
}